<div class="card transparent z-depth-0">
    <span class="card-title" style="text-align: center;">
        Todos of {{user.name}}
        <input type="checkbox" checked/>
    </span>
    <div class="card-content">
        <div class="collection">
            <div ng-repeat="todo in todos | filter: userId" class="collection-item" ng-click="todo.completed = !todo.completed">
                <span ng-class="{'striped': todo.completed}">
                    {{todo.title}}
                    <span class="secondary-content">
                        <i style="font-size: 20px;" class="fa" ng-class="{'fa-square-o': !todo.completed, 'fa-check-square-o': todo.completed}"></i>
                    </span>
                </span>
            </div>
        </div>
    </div>
</div>